<h3 class="title06">배송정보</h3>
<div class="data-tbl01">
	<table>
		<caption>배송정보 - 배송업체, 배송비, 배송기간</caption>
		<colgroup>
			<col style="width: 160px">
			<col>
		</colgroup>
		<tbody>
			<tr>
				<th scope="row">배송업체</th>
				<td>우체국택배</td>
			</tr>
			<tr>
				<th scope="row">배송비</th>
				<td><strong class="col-type01">무료배송</strong>
					<p>
						단 <span id="dmstcDlvCstExmStdrAmt"></span>원 이상 구매시 무료배송이며, <span
							id="dmstcDlvCstExmStdrAmt"></span>원 미만 시 <span id="dmstcDlvCst"></span>원의
						배송비가 지불됩니다. 또한 이벤트 상품 중 배송비 적용 및 상품페이지에 단품 구매 시 배송비 책정 상품의 경우 배송비가
						적용될 수 있습니다. (타 쇼핑몰과 달리 도서, 도서산간지역도 추가 배송비가 없습니다.) 배송비는 한번에 결제하신 동일
						주문번호, 동일 배송지 기준으로 부과됩니다. 반품시에는 배송비가 환불되지 않습니다
					</p></td>
			</tr>
			<tr>
				<th scope="row">배송기간</th>
				<td>평일 오전 9시 이전 입금 확인분에 한해 당일 출고를 원칙으로 합니다. 입금 확인 후 2~3일 이내 배송
					(일, 공휴일 제외) 도서산간지역은 7일 이내 배송됩니다. 단, 물류 사정에 따라 다소 차이가 날 수 있습니다.</td>
			</tr>
		</tbody>
	</table>
</div>
<h3 class="title06">반품/교환 정보</h3>
<div class="data-tbl01">
	<table>
		<caption>반품/교환 정보 - 반품/교환 택배비, 반품/교환 시 유의사항, 신청방법, 상품반송처</caption>
		<colgroup>
			<col style="width: 160px">
			<col>
		</colgroup>
		<tbody>
			<tr>
				<th scope="row">반품/교환 택배비</th>
				<td>반품 배송비 : 고객님의 변심으로 인한 반품의 배송비는 고객님 부담입니다. 단, 상품불량 및 오배송 등의
					이뮤로 반품하실 경우 반품 배송비는 무료입니다. 고객변신으로 인한 반품/교환 시 왕복 또는 편도 배송비는 고객님의
					부담입니다. (사이즈교환 포함이며, 최초 주문 시 무료배송 받으신 경우 왕복 택배비가 부과됩니다. ) 맞교환은 불가하며
					교환 반품 상품이 물류센터에 도착하여 확인 후 교환 배송상품이 배송됩니다. KEB 하나은행 211-13-07453-9 /
					국민은행 024037-01-000137 예금주 (주)에프앤에프<br />(교환 및 환불 전용 계좌입니다.)
				</td>
			</tr>
			<tr>
				<th scope="row">반품/교환 시 유의사항</th>
				<td>반품 배송비: <span id="dmstcDlvCst"></span>원<br />교환 배송비: <span
					id="repairDlvCst"></span>원 (왕복 택배비)<br />반품 및 교환 신청은 상품서비스를 공급 받으신
					날로부터 7일 이내 가능합니다.<br />퀵배송으로 배송받은 상품의 경우 반품 및 교환은 택배로만 진행이 가능합니다.
				</td>
			</tr>
			<tr>
				<th scope="row">신청방법</th>
				<td><ul class="text-list03 col-type01">
						<li>1) 홈페이지 로그인 후 마이페이지 > 취소/교환/반품 신청 선택 후 상세 주문내역에서 반품/교환
							버튼을 선택</li>
						<li>2) 상품이 반송 완료되면 요청하신 상품으로 반품절차나 교환배송을 해드립니다.</li>
						<li>3) 교환은 동일 상품의 색상, 사이즈 교환만 가능하며, 다른 상품으로 교환을 원하시면 반품 처리를
							하시고 신규 주문해주셔야 합니다.</li>
					</ul></td>
			</tr>
			<tr>
				<th scope="row">상품반송처</th>
				<td>우체국 택배 : 디스커버리에서 반송 수거 신청해드립니다. <br />반송처 주소 : (17384) 경기도
					이천시 마장면 프리미엄아울렛로 113-37 F&amp;F 물류센터 디스커버리 물류부 디스커버리 온라인 공식몰에서 우체국
					택배로 상품을 수거 신청해드리니, 타 택배는 이용이 불가한 점 양해 부탁드립니다. <br /> 타 택배사 이용하여 착불로
					상품 발송시 고객님께 반송되실 수 있습니다.
				</td>
			</tr>
		</tbody>
	</table>
</div>
<h3 class="title06">반품/교환 신청기준</h3>
<div class="data-tbl01">
	<table>
		<caption>반품/교환 신청기준 - 반품/교환 가능시점, 결제취소시점, 반품/교환 불가사유, 반품/교환
			참고사항</caption>
		<colgroup>
			<col style="width: 160px">
			<col>
		</colgroup>
		<tbody>
			<tr>
				<th scope="row">반품/교환 가능시점</th>
				<td>주문상품 수령 후 사용 및 착용하지 않으신 경우에 한해서, 수령일로부터 7일 이내에 반품이 가능합니다. <br />
					한번이라도 착용하여 새제품과 다른 경우는 교환/환불이 불가합니다. <br />제품에 붙어있는 택을 뜯었거나 상품의 본
					박스 (예:신발)에 낙서나 테이핑을 한 경우는 교환/환불이 불가합니다. <br /> <strong
					class="col-type02">구매확정 이후 교환/반품 불가 (배송완료일로부터 7일 이후 자동 구매
						확정됩니다.)</strong>
				</td>
			</tr>
			<tr>
				<th scope="row">결제취소시점</th>
				<td>교환 또는 반품 요청 후 5일 이내에 도착하지 않은 경우 <br /> 단순변심으로 인한 왕복배송비 <span
					id="repairDlvCst"></span>원이 입금되지 않은 경우<br />고객님의 책임있는 사유로 상품이 훼손된
					경우<br />상품 고유의 포장이 훼손되어 상품가치가 상실된 경우 (예:Tag/라벨 등의 훼손) <br />시간의 경과에
					의하여 재판매가 곤란할 정도로 상품가치가 현저히 감소한 경우
				</td>
			</tr>
			<tr>
				<th scope="row">반품/교환 불가사유</th>
				<td>교환 또는 반품 요청 후 5일 이내에 도착하지 않은 경우 <br />단순변심으로 인한 왕복배송비 <span
					id="repairDlvCst"></span>원이 입금되지 않은 경우 <br />고객님의 책임있는 사유로 상품이 훼손된
					경우<br />상품 고유의 포장이 훼손되어 상품가치가 상실된 경우 (예:Tag/라벨 등의 훼손) <br />시간의 경과에
					의하여 재판매가 곤란할 정도로 상품가치가 현저히 감소한 경우
				</td>
			</tr>
			<tr>
				<th scope="row">반품/교환 참고사항</th>
				<td>반품/교환시 고객님 귀책사유로 인해 수거가 지연될 경우에는 반품이 제한될 수 있습니다. <br />모니터
					해상도의 차이로 인해 색상이나 이미지가 실제와 다를 수 있으며, 이로 인한 반품/교환이 제한될 수 있습니다. <br />일부
					상품의 경우 예고없이 가격이 변동 될 수 있으며, 이로 인한 반품 및 가격보상은 불가합니다. <br />상품
					택(Tag), 홀로그램 등을 분리/분실/훼손하여 상품의 가치가 현저히 감소하여 재판매가 불가하였을 경우 <br />반품
					및 교환이 제한될 수 있습니다. <br />상품특성상 측정방법에 따라 표기된 사이즈의 오차가 있을 수 있으며, 이로 인한
					반품 및 교환은 제한될 수 있습니다. <br />일부 세트 상품의 부분 반품 및 교환이 불가하오니 양해바랍니다. 상품의
					맞교환은 불가합니다. <br />교환/환불 절차 내에 여러가지 상황들이 다양하게 생길 수 있으므로 고객을 보호하는
					차원에서 한 단계씩 순차적으로 업무처리가 진행됩니다. <br />상품이 디스커버리 온라인 공식몰 고객센터로 도착한 후에
					나머지 절차가 진행될 수 있습니다.
				</td>
			</tr>
		</tbody>
	</table>
</div>